
.app {
  
}

#main {
  padding: 0 1% 0 1%;
}


#header {
  background-color: red;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#logo {
  background-color: aqua;
  height: 80%;
  width: 10%;
}

#center-image {
  background-color: aqua;
  height: 80%;
  width: 10%;
}
#nav {
  background-color: aqua;
  height: 80%;
  width: 10%;
}




#main-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  height: 80vh;
}

#header-text {
  background-color: pink;
  width: 100%;
  order: 1;
  height: 20vh;
}

#action-button {
  background-color: blue;
  order: 3;
  width: 100%;
  height: 10vh;
}

#bottom-text {
  background-color: yellow;
  order: 4;
  height: 10vh;
  width: 100%;
}

#image {
  background-color: green;
  width: 100%;
  order: 2;
  height: 40vh;
}

#bottom-content {
  background-color: aqua;
  height: 10vh;
}
