body {
  font-family: "HelveticaNeue Bold", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 400;
}

a {
  text-decoration: none;
}

/* main container */
#main {
  padding: 1% 2% 0 2%;
  background-color: #898989;
}

/*LOGO*/

#logo-image {
  width: 20vw;
  max-width: 60px;
}

/* MAIN SECTIONS OF WEBSITE*/
#header {
  /* background-color: red; */
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#main-content {
  /* background-color: brown; */
  display: flex;
  font-weight: 500;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 80vh;
}

#action-button {
  order: 3;
  width: 100%;
  height: 10%;
  display: flex;
}

#bottom-text {
  order: 4;
  height: 10%;
  width: 100%;
  display: flex;
  flex: 5;
}

#image {
  width: 100%;
  order: 2;
  height: 50%;
  display: flex;
}

#footer {
  height: 15vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 1vh;
}


/* EFFECTS*/

/* Effect Classes*/
.slide-left {
  animation-name: slide-in;
  animation-duration: 1s;
}

.slide-right {
  animation-name: slide-right;
  animation-duration: 1s;
}

.slide-down {
  animation-name: slide-down;
  animation-duration: .6s;
}

.slide-up {
  animation-name: slide-up;
  animation-duration: .6s;
}

.fade-in {
  opacity: 0;
  animation: fade-in 1s ease-in forwards;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-in-scale {
  animation: fadeInScale 1s ease-out;
}

@keyframes shake2 {
  0% { transform: translateX(0); }
  /* 25% { transform: translateX(-5px) rotate(-5deg); } */
  75% { transform: translateX(1px) rotate(.5deg); }
  100% { transform: translateX(0); }
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px) rotate(-5deg); }
  75% { transform: translateX(5px) rotate(5deg); }
  100% { transform: translateX(0); }
}

.zoom-in {
  animation: fadeIn 2s ease, zoomIn 1s ease;
  animation-fill-mode: both;
}

.shake {
  animation: shake 1s ease-in-out 2;
}

.shake2 {
  animation: shake2 .5s ease-in-out 1;
}


/* Effect CSS */


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-400%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-up {
  from {
    transform: translateY(400%);
  }
  to {
    transform: translateY(0);
  }
}

/*HEADER*/
/* Header content containers*/
.header-element2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  height: 100%;
  width: 20%;
  border-radius: 20px;
  margin: 2%;
  font-size: auto;
}

.header-element-right {
  /* background-color: lightcoral; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: ;
  height: 100%;
  width: 80%;
}

/* MAIN CONTENT */
#header-text {
  text-transform: uppercase;
  letter-spacing: .1vw;
  text-align: justify;
  display: flex;
  width: 100%;
  order: 1;
  height: auto;
  max-height: 40%;
  /* font-size: min(max(10px, 4vw), 20px); */
}

/* Buy Section */
.text-border-buy {
  background-color: #d3d3d3;
  width: 100%;
  background-color: ;
  border-radius: 20px;
  margin: 1% 0 1% 0;
  font-size: 2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-button div {
  padding: 5px;
}

.contact-button {
  /* background-color: pink; */
  display: flex;
  margin: 0;
  width: 40%;
  height: 100%;
  padding: 10px 5px 10px 5px;
}

#buy-tagline {
    /* background-color: orange; */
    width: 50%;
    font-size: 12px;
    margin: 12px;
    text-align: center;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#main-pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/* A Class that sits inside each main content section*/
.text-border {
  width: 100%;
  background-color: #d3d3d3;
  border-radius: 20px;
  margin: 1% 0 1% 0;
  font-size: 20px;
  overflow: auto;
}

.gallery-text-border {
  width: 100%;
  background-color: #d3d3d3;
  border-radius: 20px;
  margin: 1% 0 1% 0;
  font-size: 20px;
  overflow: auto;
  height: 70vh;
}


/* Containers */
.text-border-white {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  margin: 1% 0 1% 0;
  font-size: 5vw;
  overflow: auto;
  display: flex;
}

.content-no-background {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  margin: 1% 0 1% 0;
  overflow: auto;
}

.box-shadow:hover {
  opacity: 10;
  box-shadow: 0 0 15px 2px whitesmoke;
}

/* Screen Height adjustments*/
@media screen and (max-height: 950px) and (max-width: 1000px) {
  #main-content {
    /* background-color: blue; */
    height: 110vh;
  }

  #header-text {
    /* font-size: min(max(8px, 4vw), 15px); */
    letter-spacing: 0;
    transform: scale(1,1);
  }

  .text-border-buy {
    /* padding: 22px; */
  }
} 

@media screen and (max-height: 800px) and (max-width: 1000px) {
  #main-content {
    /* background-color: aqua; */
    height: 100vh;
  }

  #buy-tagline{
    font-size: 2.5vw;
  }
} 

/* mobile Landscape*/
@media screen and (max-height: 599px  ) {
  #main-content {
    /* background-color: green; */
    height: 200vh;
  }

  #header {
    height: 60px;
  }

  #footer {
    height: 70px;
    
  }
} 

/* medium devices */
@media screen and (min-width: 768px) {
  
  #logo-image {
    width: 10vw ;
    max-width: 66px;
  }

  #main-content {
    /* background-color: pink; */
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .text-border-buy {
    padding: 10px;
  }

  #buy-tagline {
    width: auto;
    font-size: 12px;
  }

  #header-text {
    display: flex;
    width: 100%;
    order: 1;
    max-height: 20%;
    /* font-size: 2.7vw; */
  }

  .contact-button {
    width: 90%;
    margin: 0;
    padding: 0;
    height: 40%;
  }

  #image {
    width: 100%;
    order: 2;
    height: 60%;
    display: flex;
  }

  .content-no-background {
    padding: 25px 0 1px 0;
    overflow: visible;
  }

  .text-border-buy {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #action-button {
    order: 3;
    width: 50%;
    height: 20%;
    display: flex;
    max-height: 25%;
    padding-right: 10px;
  }

  #bottom-text {
    order: 4;
    height: 20%;
    width: 48%;
    max-height: 25%;
    display: flex;
    flex: 2;
    padding-left: 10px;
  }

  #footer {
    /* padding-top: 0; */
  }
}

@media screen and (min-width: 1024px) {

  #header {
    height: 10vh;
  }

  #footer {
    height: 10vh;
  }
  
  #main-content {
    /* background-color: violet; */
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .header-element-right {
    width: 50%;
  }

  #header-text {
    display: flex;
    width: 50%;
    order: 1;
    max-height: 50%;
    /* font-size: 1.8vw; */
  }

  .content-no-background {
    padding: 68px 0 68px 0;
  }

  .text-border-buy {
    padding: 22px;
  }

  #action-button {
    order: 2;
    width: 50%;
    height: 25%;
    display: flex;
    max-height: 25%;
    padding-right: 0;
  }

  #buy-tagline {
    font-size: 2vh;
  }

  #bottom-text {
    order: 3;
    height: 25%;
    width: 50%;
    max-height: 25%;
    padding-left: 0;
    display: flex;
  }

  #image {
    width: 50%;
    order: 4;
    height: 100vh;
    min-height: 60%;
    display: flex;
  }

  /*Margin fixes*/
  .left-margin-desktop {
    margin-right: 1%;
  }

  .right-margin-desktop {
    margin-left: 1%;
  }
}

@media screen and (min-width: 1024px) {
  #header-text{
    /* font-size: 3vw; */
  }
}


