body {
  font-family: "HelveticaNeue Bold", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 400;
}

/* main container */
#main {
  padding: 0 2% 0 2%;
  background-color: #898989;
}

/*LOGO*/
#logo {
  font-size: 4vw;
  font-weight: 900;
}


/* header */
#header {
  background-color: aqua;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Header content containers*/
.header-element-right {
  display: flex;
  align-items: stretch;
  height: 100%;
  width: 40%;
}

.header-element2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  height: 100%;
  width: 20%;
  border-radius: 20px;
  margin: 2%;
  font-size: auto;
}

.header-element1 {
  padding: 1%;
  height: 70%;
  width: 20%;
  border-radius: 20px;
}

/* main page content*/
#main-content {
  display: flex;
  font-weight: 500;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 80vh;
}

#header-text {
  text-transform: uppercase;
  letter-spacing: .1vw;
  text-align: justify;
  display: flex;
  width: 100%;
  order: 1;
  height: auto;
  max-height: 30%;
  transform: scale(1,1.4);
  font-size: min(max(10px, 4vw), 20px);
  
}

#action-button {
  order: 3;
  width: 100%;
  height: 10%;
  display: flex;
}

#bottom-text {
  order: 4;
  height: 10%;
  width: 100%;
  display: flex;
  flex: 5;
}

#image {
  width: 100%;
  order: 2;
  height: 50%;
  display: flex;
}

#main-pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/* A Class that sits inside each main content section*/
.text-border {
  width: 100%;
  background-color: #d3d3d3;
  border-radius: 20px;
  margin: 1% 0 1% 0;
  font-size: 20px;
  overflow: auto;
}

/* Buy Section */
#contact-button {
  margin: 10px;
  width: 90%;
  height: 40%;
}

#buy-tagline {
    width: auto;
    height: 50%;
    font-size: 14px;
    margin: 10px;
    text-align: center;
}

/* Containers */
.text-border-white {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  margin: 1% 0 1% 0;
  font-size: 5vw;
  overflow: auto;
  display: flex;
}

.text-border-buy {
  background-color: #d3d3d3;
  width: 100%;
  background-color: ;
  border-radius: 20px;
  margin: 1% 0 1% 0;
  font-size: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-no-background {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  margin: 1% 0 1% 0;
  overflow: auto;
}

/* Footer*/
#footer {
  height: 10vh;
  display: flex;
}

.box-shadow {
  opacity: 10;
  box-shadow: 0 0 15px 2px whitesmoke;
}


/* medium devices */
@media screen and (min-width: 768px) {
  #main-content {
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #buy-tagline {
    font-size: 20px;
  }

  #header-text {
    display: flex;
    width: 100%;
    order: 1;
    max-height: 20%;
    font-size: 2.7vw;
  }

  #image {
    width: 100%;
    order: 2;
    height: 60%;
    display: flex;
  }

  .content-no-background {
    padding: 20px 0 68px 0;
  }

  #action-button {
    order: 3;
    width: 50%;
    height: 20%;
    display: flex;
    max-height: 25%;
  }

  #bottom-text {
    order: 4;
    height: 20%;
    width: 48%;
    max-height: 25%;
    display: flex;
    flex: 2;
  }
  
}

@media screen and (min-width: 1024px) {

  #main-content {
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  #header-text {
    display: flex;
    width: 50%;
    order: 1;
    max-height: 50%;
    font-size: 1.8vw;
  }

  .content-no-background {
    padding: 68px 0 68px 0;
  }

  #action-button {
    order: 2;
    width: 50%;
    height: 25%;
    display: flex;
    max-height: 25%;
  }

  #bottom-text {
    order: 3;
    height: 25%;
    width: 50%;
    max-height: 25%;
    display: flex;

  }

  #image {
    width: 50%;
    order: 4;
    height: 100vh;
    min-height: 60%;
    display: flex;
  }

  /*Margin fixes*/
  .left-margin-desktop {
    margin-right: 1%;
  }

  .right-margin-desktop {
    margin-left: 1%;
  }
}


/*
912 z 1368
1024 z 600
1280 z 800




*/
