.btn {
    color: black;
    background-color: #898989;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 3vw;
  }
  
.btn:hover {
  color: white;
  background-color: black;

}

.white {
  color: black;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 3vw;
}

.white:hover {
color: white;
background-color: black;

}


