.btn {
    color: black;
    border: 2px solid;
    height: 70%;
    width: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  .btn:hover {
    color: white;
    background-color: black;
  }



