.btn {
    color: black;
    border: 2px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 3vw;
  }
  
  .btn:hover {
    color: white;
    background-color: black;
  }



