.instrumentLine {
  background-color: grey;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.instrument {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.step {
  width: 20px;
  height: 20px;
  margin: 2px;
  background-color: #fff;
  border-radius: 50%;
}

@keyframes pulse {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: yellow;
  }
  100% {
    background-color: transparent;
  }
}

.muted {
  animation: pulse 1s infinite;
}

.unmuted {
  background-color: green;
}



.blue {
  border-color: black;
}

.black {
  background-color: black;
  border-color: black;
}

.active {
  background-color: green;
}

.current {
  background-color: red;
}