.container {
  width: 100%;
  height: 50vh;
}



/* Containers*/



.drumMachineContainer {
  background-color: pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.transportButtons{
  background-color: red;
  display: flex;
} 

.instrumentLine {
  background-color: blue;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.extraSoundButtons {
  background-color: purple;
  display: flex;
}


.transportButton {
  font-size: 15px;
}

.instrument {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  font-size: 10px;
}

.step {
  width: 15px;
  height: 10px;
  margin-bottom: 2px;
  background-color: #fff;
  border-radius: 0;
  border: solid black 2px;
}

.extraStep {
  width: 50px;
  height: 40px;
  margin-bottom: 2px;
  background-color: #fff;
  border-radius: 10px;
  border: solid black 2px;
}

@keyframes pulse {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: yellow;
  }
  100% {
    background-color:
    
    transparent;
  }
}

/* Buttons */

.abButtons {
  font-size: 10px;
}

.muted {
  animation: pulse 1s infinite;
  font-size: 10px;
}

.unmuted {
  background-color: green;
  font-size: 10px;
}



.blue {
  border-color: black;
}

.black {
  background-color: black;
  border-color: black;
}

.active {
  background-color: green;
}

.current {
  background-color: red;
}