.border {
  width: 100%;
  background-color: white;
  border-radius: var(--medium-container-radius);
  padding: 4%;
  flex-direction: row;
  overflow: auto;
  display: flex;
  justify-content: space-between;
}


#thumb {
  width: 33%;
  padding: 10px;
  flex-shrink: 0;
}

img {
  border-radius: var(--image-border-radius);
  width: 100%;
  object-fit: contain;
}

#left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.helpButton {
  width: 100%;
  font-weight: 800;
  background-color: white;
  color: black;
  transition: 0.9s;
}

.helpButton:hover {
  background-color: black;
  color: white;
}

#text {
  /* font-size: var(--sub-text-more); */
  text-align: justify;
}

@media screen and (min-width: 768px) {

.left {
  width: 60%;
}

.text {
  
}

}

@media screen and (min-width: 1024px) {

  .border {
    margin: 0;
    padding: 2.5% 2.5% 2.5% 2.5%;
  }


  .helpButton {
    min-height: 60px;
    height: 7vh;
  }

  img {
    border-radius: 10px;
    width: 80%;
    object-fit: contain;
  }

}